@media (min-width: 768px) and (max-width: 992px){
  .container {
    display: table;
  }
  
  .col-md-3 {
    max-width: 50%;
    
}
}


@media(min-width: 992px) {
  .col-md-3 {
    max-width: 33%;
    display: inline-block;
  }
}


.col-md-3 {
  display: inline-block;
  
}

.card {
  //display: flex;
  
  //width: 50%;
}

.card-img-top {
  height: 300px;
}
  
