@media (min-width: 768px) and (max-width: 992px){
  .container {
    display: table;
  }
  
  .col-md-3 {
    max-width: 50%;
    
}
}


@media(min-width: 992px) {
  .col-md-3 {
    max-width: 33%;
    display: inline-block;
  }
}


.col-md-3 {
  display: inline-block;
  
}

.card {
  
  //display: flex;
  
  //width: 50%;
}

.card-img-top {
  height: 300px;
}
  
.card-title-title { 
  color: aqua;
  text-decoration: none;
  font-size: 32px;
}

p.card-text {
  color: white;
  font-size: 14px;
}

p.card-createdat {
  color: white;
  text-align: center;
  font-size: 14px;
}

.card-createdat__new-car {
  color: aqua;
  font-size: 19px;
  font-weight: bold;
  //display: flex;
  //justify-content: space-between;
}

.card-createdat__new-car__date {
  float: right;
  font-size: 14px;
  font-weight: lighter;
}