* {
  box-sizing: border-box;
}

.wrapper.post {
  background-image: image-url("global-warming.jpg");
  background-color: #0bd;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: screen;
}


.container {
  //padding-bottom: 10px;
  display: table;;
}

.container__show {
  margin-top: 40px;
  
}



.col {
  font-weight: bold;
}


.post-form__title {
  margin-bottom: 40px;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 200;

  &:after {
    content: '';
    display: block;
    width: 100px;
    margin-top: 5px;
    border-bottom: 1px solid #38aef0;
  }
}




form {
  padding-top: 10px;
}

form.comments {
  padding-top: 30px;
}
.form-row {
  padding-top: 10px;
}

label {
  font-weight: bold;
}

.form__manage {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form_car-type {
  margin-bottom: 20px;
}



.btn.btn-warning {
 
  margin-left: 20px;
}

.container__show {
  margin-bottom: 15px;
}

.container1__show {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.container1__text {
  font-weight: bold;
  font-size: 20px;
}

.list-group-item {
  font-weight: bold;
}


.posts_show_nickname {
  font-size: 45px;
  color: black;
}

.container1_edit-btn {
  float: right;
}

td.post-data {
  color: aqua;
}

.car-data__car-type {
  color: aqua;
}