@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.wrapper.user {
  background-image: image-url("image_case2.jpg");
  background-color: #0bd;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200vh;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: darken;
}
.container {
  height: 100%;
  width: 100%;
  //background: rgba(255,255,255,0.5);
}

.container_car_title {
  color: white;
}

.cars-image {
  width: 100%;
}

.login-page {
  width: 600px;
  height: 700px;
  padding: 50px 0 50px 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 1000px;
  //max-height: 700px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form__title {
  font-size: 30px;
  margin-bottom: 20px;
  color: #4CAF50;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}



.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}





table{
  width: 100%;
  border-collapse: collapse;
}

table tr{
  border-bottom: solid 2px white;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #52c2d0;
  color: white;
  text-align: center;
  padding: 10px 0;
}

table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #52c2d0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #363636;
  padding: 10px 0;
  color: white;
  border-bottom: #363636 1px solid;
}

.userEdit-btn {
  float: right;
}

.userPagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: white;   /*文字の色を変える*/
  background-color: #363636;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background-color: white;     /*背景の色を変える*/
  //border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  //border-radius: 15px;    /*角を丸くする*/
  background-color: white;
}


.userImage {
  position: relative;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 100%;
  
}
.userImage::after{
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  -moz-box-shadow: inset 0px 0px 15px 15px rgb(230, 235, 226);
  -webkit-box-shadow: inset 0px 0px 15px 15px rgb(230, 235, 226);
  box-shadow: inset 0px 0px 15px 15px rgb(230, 235, 226);
  content: " ";
}

.highcharts-container {
  background-color: #363636;
}
.highcharts-root {
  font-size: 40x;
  font-weight: bold;
}