.container
  .form-group
  %label{:for => "exampleFormControlSelect2"} Car Type
  %select#exampleFormControlSelect2.form-control{:multiple => "multiple"}
    %option Nissan Leaf (24kwh)
    %option Nissan Leaf (30kwh)
    %option Nissan Leaf (40kwh)
    %option Nissan Leaf (62kwh)
    %option Nissan e-NV200 (24kwh)
    %option Nissan e-NV200 (40kwh)

    %option Mitsubishi i-MiEV (10.5kwh)
    %option Mitsubishi i-MiEV (16kwh)

    %option Tesla Model S 60 
    %option Tesla Model S 60D 
    %option Tesla Model S 70 
    %option Tesla Model S 70D
    %option Tesla Model S 75
    %option Tesla Model S 75D
    %option Tesla Model S 85
    %option Tesla Model S 85D
    %option Tesla Model S P85
    %option Tesla Model S P85+
    %option Tesla Model S P85D
    %option Tesla Model S P85D(Ludicrous)
    %option Tesla Model S 90
    %option Tesla Model S 90D
    %option Tesla Model S P90D
    %option Tesla Model S P90D(Ludicrous)
    %option Tesla Model S 100D
    %option Tesla Model S P100D(Ludicrous)
    %option Tesla Model S Long Range Plus(Raven)
    %option Tesla Model S Performance(Raven)
    %option Tesla Model X 60D
    %option Tesla Model X 70D
    %option Tesla Model X 75D
    %option Tesla Model X 90D
    %option Tesla Model X P90D
    %option Tesla Model X 100D
    %option Tesla Model X P100D
    %option Tesla Model X Long Range
    %option Tesla Model X Performance
    %option Tesla Model 3 Standard Range
    %option Tesla Model 3 Standard Range Plus
    %option Tesla Model 3 Mid Range
    %option Tesla Model 3 Long Range(RWD)
    %option Tesla Model 3 Long Range(AWD)
    %option Tesla Model 3 Performance
    %option Tesla Model Y Standard Range
    %option Tesla Model Y Long Range(RWD)
    %option Tesla Model Y Long Range(AWD)
    %option Tesla Model Y Performance
    %option Tesla Model Y Performance with Performance Upgrade
    %option Tesla Roadster (2008)
    %option Tesla Roadster (2020)
    %option Tesla Cybertruck Single Motor(RWD)
    %option Tesla Cybertruck Dual Motor(AWD)
    %option Tesla Cybertruck Tri Motor(AWD)

    %option Jaguar I-PACE

    %option BMW i3 (22kwh)
    %option BMW i3 (33kwh)
    %option BMW i3 (42.2kwh)

    %option Wolkswagen e-Golf

    %option Mercedes Benz EQC 

    %option Porsche Taycan 4S
    %option Porsche Taycan Turbo
    %option Porsche Taycan Turbo S

    %option Audi e-tron









