.swiper-container
  .swiper-wrapper
    .swiper-slide 
      = image_tag "nissan_top_image.jpg", class: "swiper-class1"
    .swiper-slide
      = image_tag "Tesla-Family-Crop-1920px.jpg", class: "swiper-class1"
    .swiper-slide 
      = image_tag "porsche.image", class: "swiper-class1"
    .swiper-slide 
      = image_tag "Tesla-Model-S-X-3-hero.jpg", class: "swiper-class1"
    
    
  .swiper-button-prev
  .swiper-button-next
  .swiper-pagination
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/js/swiper.min.js"}


:javascript
  var mySwiper = new Swiper('.swiper-container', {
    loop: true,
    effect: "fade",
    //slidesPerView: 3,
    autoplay: {
    delay: 3000,
    stopOnLastSlide: false,
    disableOnInteraction: false,
    reverseDirection: false
    },
    navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev'
    },
    pagination: {
    el: '.swiper-pagination',
    type: 'bullets',
    clickable: true
    }
    });
